

h3{
    font-family: Verdana, Tahoma, sans-serif;
    color: orange;
}

ul {

    background-color: rgba(112,128,144,255);
    font-size: x-large;
    min-height: 10rem;
    padding-top: 3rem;
}
.nav-item {
    background-color: whitesmoke;
    border-bottom: 4rem
    
}

.li {
    color: whitesmoke;
}

.card-body {
    background-color: rgba(254,141,63,255);
    text-align: center;
    border-color: transparent;
    border-radius: 1rem;
}
button {
    color: orange;
    max-width: 10rem;
}
