body {
    background-color: orangered;
}

h3{
    font-family: Verdana, Tahoma, sans-serif;
    color: orange;
}

nav {
    background-color: rgb(94, 92, 92);
    font-size: large;

}

.card-body {
    background-color: orange;
    text-align: center;
    border-color: transparent;

}